html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --turquoise: #12B8A6;
    --turquoise-gelap: #087F73;
    --putih: #ffffff;
    --background: #F4FFFC;
    --text: #173B3A;
}

body{
  font-family: 'Times New Roman', Times, serif;
  background-color: var(--background);
  color: var(--text);
}

header{
    position: sticky;
    top: 0;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    padding: 20px 0;
    box-shadow:0 2px 10px rgba(0,0,0,.08);
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.menu-toggle {
    display: none;
}

header .container{
    display:flex;
    gap: 30px;
    align-items:center;
    position: relative;
}

.logo img{
    width: 60px;
    height: 60px;
    object-fit: contain;
}

/*Navbar*/
.navbar{
    display: flex;
    gap: 25px;
    margin-left: auto;
}

.menu-toggle {
    display: none;
}

.navbar a{
    text-decoration: none;
    color: var(--text);
    font-size: 15px;
    font-weight: 600;
    white-space: nowrap;
}

.navbar a:hover{
    color: var(--turquoise);
}

.brand h1{
    font-size: 31px;
    margin-bottom: 0,3px;
}

.brand p{
    font-size: 15px;
    color: var(--text);
}

/*Hero*/
.hero{
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
        ),
        url("../images/gbr.jpeg");

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    min-height: 450px;

    display: flex;
    align-items: center;

    padding: 0;
}

.hero-text{
    color: white;
}

.hero-text h2{
    font-size:42px;
    color: var(--turquoise);
    text-align:left;
    margin-bottom:6px;
}

.hero-text p{
    font-size:20px;
     line-height:1.5;
}

.btn{
    display:inline-block;
    margin-top:15px;
    background: var(--turquoise);
    color:white;
    padding:12px 25px;
    text-decoration:none;
}

section{
    padding:50px 0;
}

section h2{
    font-size:32px;
    margin-bottom:30px;
    color: var(--turquoise);
    text-align:center;
}

.program-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.program-item{
    background: var(--putih);
    border:1px solid #ddd;
    padding:20px;
    flex:1;
}

.program-item h3{
    text-align:center;
    color: black;
    font-size: 16px;
    margin-bottom: 10px;
}

.program-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

footer{

    background: var(--turquoise-gelap);
    color:white;
    text-align:center;
    padding:20px;
}

@media (max-width: 1024px) {

    header {
        padding: 10px 0;
    }

    header .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
    }

    .logo img {
        width: 45px;
        height: 45px;
    }

    .brand {
        flex: 1;
    }

    .brand h1 {
        font-size: 20px;
    }

    .brand p {
        font-size: 12px;
    }


    /* TOMBOL HAMBURGER */

    .menu-toggle {
        display: block;

        background: var(--turquoise);
        color: white;

        border: none;

        width: 42px;
        height: 42px;

        font-size: 24px;

        cursor: pointer;
        border-radius: 6px;

        position: relative;
        z-index: 2000;
    }


    /* NAVBAR DISEMBUNYIKAN */

    .navbar {
        display: none;

        position: absolute;

        top: 60px;
        right: 0;

        width: 230px;

        margin: 0;
        padding: 10px;

        background: white;

        flex-direction: column;
        gap: 0;

        border-radius: 10px;

        box-shadow: 0 8px 20px rgba(0,0,0,0.15);

        z-index: 1999;
    }

    /* NAVBAR MUNCUL */

    .navbar.active {
        display: flex;
    }

    .navbar a {
        display: block;

        width: 100%;

        padding: 14px;

        font-size: 16px;

        border-bottom: 1px solid #eee;
    }

    .navbar a:last-child {
        border-bottom: none;
    }

    .program-list {
        flex-direction: column;
    }


    .keunggulan-list {
        flex-direction: column;
    }

    .dropdown {
        width: 100%;
    }

    .dropdown > a {
        display: block;
        width: 100%;
    }

    .dropdown-content {
        display: none;

        position: static;

        width: 100%;
        min-width: 0;

        padding: 0;

        background: #F4FFFC;

        box-shadow: none;
        border-radius: 0;
    }

    .dropdown-content.show {
        display: block;
    }

    .dropdown-content a {
        padding: 12px 30px;

        font-size: 15px;

        border-bottom: 1px solid #eee;
    }

}

/* Tentang Kami */

.tentang-box{
    background: var(--putih);
    padding:50px;
    max-width:850px;
    margin:auto;
    text-align:justify;
}

.tentang-box p{
    font-size:20px;
    line-height:1.6;
}

/* Perbaikan section unggulan */
#unggulan .container{
    display:block;
}

.unggulan-card h3{
    text-align:center;
    margin-bottom:10px;
}

.unggulan-card p{
    text-align: justify;
    line-height: 1.3;
}

.unggulan-list{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:25px;
}

.unggulan-card{
    flex:1;
    background: var(--putih);
    padding:25px;
    text-align:center;
    border:1px solid #ddd;
}

.btn-wa{
    display: block;
    margin: 20px auto;
    background: var(--turquoise);
    color: white;
    border: none;
    padding: 13px 25px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.3s ease;
    text-align: center;
}

.btn-wa:hover{
    background: var(--turquoise-gelap);
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;

    position: absolute;

    top: 100%;
    left: 0;

    min-width: 180px;

    background: white;

    box-shadow: 0 8px 20px rgba(0,0,0,0.12);

    border-radius: 8px;

    overflow: hidden;

    z-index: 9999;
}

.dropdown-content a {
    display: block;

    padding: 12px 15px;

    font-size: 16px;

    color: var(--text);

    text-decoration: none;
}

.dropdown-content a:hover {
    background: #F4FFFC;
    color: var(--turquoise);
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* BAGIAN MISI */
#misi {
    background: #F4FFFC;
    padding: 70px 0;
}

.misi-box {
    max-width: 1100px;
    margin: auto;
}

/* judul */
.misi-box h2 {
    text-align: center;
    margin-bottom: 35px;
    color: var(--turquoise);
}

/* tiap misi jadi kotak */
.misi-item {
    background: white;

    padding: 22px 25px;

    margin-bottom: 20px;

    border-radius: 12px;

    border-left: 5px solid var(--turquoise);

    box-shadow: 0 5px 18px rgba(0,0,0,0.08);

    transition: 0.3s;
}

/* efek saat mouse diarahkan */
.misi-item:hover {
    transform: translateY(-5px);

    box-shadow: 0 10px 25px rgba(0,0,0,0.12);
}

.misi-item p {
    font-size: 18px;
    line-height: 1.6;
    color: var(--text);

    margin: 0;
}

#visi {
    background: #ffffff;
    padding: 70px 0;
}

#visi .container {
    max-width: 1000px;
    margin: auto;

    background: linear-gradient(
        135deg,
        #E8FFFA,
        #F8FFFD
    );

    padding: 45px;

    border-radius: 18px;

    box-shadow: 0 8px 25px rgba(0,0,0,0.08);

    border-left: 6px solid var(--turquoise);
}

#visi h2 {
    text-align: center;

    color: var(--turquoise-gelap);

    margin-bottom: 25px;

    font-size: 34px;
}

#visi p {
    font-size: 21px;

    line-height: 1.8;

    text-align: center;

    color: var(--text);

    max-width: 850px;

    margin: auto;
}


#program-pendidikan {
    background: #ffffff;
    padding: 70px 0;
}

#program-pendidikan .container {
    max-width: 1000px;
    margin: auto;

    background: linear-gradient(
        135deg,
        #E8FFFA,
        #F8FFFD
    );

    padding: 45px;

    border-radius: 18px;

    box-shadow: 0 8px 25px rgba(0,0,0,0.08);

    border-left: 6px solid var(--turquoise);
}

#program-pendidikan h2 {
    text-align: center;

    color: var(--turquoise-gelap);

    margin-bottom: 25px;

    font-size: 34px;
}

#program-pendidikan p {
    font-size: 21px;

    line-height: 1.8;

    text-align: justify;

    color: var(--text);

    max-width: 850px;

    margin: auto;
}

#kontak {
    padding: 70px 0;
}

.kontak-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 30px;

    margin-top: 30px;
}

.kontak-card {

    padding: 30px;

    border-radius: 15px;

    padding-left: 150px;
}

.kontak-card h3 {
    color: var(--turquoise-gelap);

    font-size: 24px;

    margin-bottom: 20px;
}

.kontak-card p {
    margin-bottom: 5px;

    line-height: 1.1;

    font-size: 17px;
}

#penerbitan {
    padding: 70px 0;
    background: #F4FFFC;
}

.penerbitan-list {
    display: row;

    gap: 30px;

    margin-top: 30px;

    text-align: justify;
}

.penerbitan-box {
    background: white;

    padding: 30px;

    border-radius: 15px;

    box-shadow: 0 6px 20px rgba(0,0,0,0.08);

    border-top: 4px solid var(--turquoise);
}

.penerbitan-item h3 {
    color: var(--turquoise-gelap);

    font-size: 20px;

    margin-bottom: 5px;
}

.penerbitan-item p {
    margin-bottom: 15px;

    line-height: 1.6;

    font-size: 17px;
}

.penerbitan-item{
    margin-bottom: 40px;
}


#mitra {
    padding: 70px 0;
    background: #F4FFFC;
}

.mitra-list {
    display: row;

    gap: 30px;

    margin-top: 30px;

    text-align: justify;
}

.mitra-box {
    background: white;

    padding: 30px;

    border-radius: 15px;

    box-shadow: 0 6px 20px rgba(0,0,0,0.08);

    border-top: 4px solid var(--turquoise);
}

.mitra-item h3 {
    color: black;

    font-size: 20px;

    margin-bottom: 5px;
}

.mitra-item p {
    margin-bottom: 15px;

    line-height: 1.6;

    font-size: 17px;
}

.mitra-item{
    margin-bottom: 20px;
}
